body {
  display: flex;
  flex-direction: column;
  background-image: url("https://img.freepik.com/premium-photo/close-up-fast-food-still-life_23-2149281351.jpg?w=740");
  background-repeat: no-repeat;
  background-size:cover;
}
.main{
  display: flex;
  flex-direction: row;
 
}
article{
  
  flex: 2;
  overflow-y: auto;
}
aside{
  flex: 1;
  overflow-y: auto;
  color:white;
  
}
.logo{
  font-size: 24px;
  margin-right: 10px;
}